// {
//   "presets": [
//       "@babel/preset-react",
//       [
//           "@babel/preset-env",
//           {
//               "targets": {
//                   "browsers": "last 2 versions"
//               },
//               "modules": false,
//               "loose": false
//           }
//       ]
//   ],
//   "plugins": [
//       "transform-class-properties"
//   ],
//   "env": {
//       "test": {
//           "plugins": [
//               "transform-es2015-modules-commonjs"
//           ]
//       }
//   }
// }

{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current"
          }
        }
      ],
      ["@babel/preset-react"]
    ],
    "plugins": ["@babel/plugin-proposal-class-properties" ]
  }