.listWrapper {
    border: 1px solid blue;
    .listItem {
        .ok, .circle {
            display: block;
            width: 20px;
            height: 20px;
            object-position: center;
            object-fit: cover;
        }
    }
}