@import url("./global.css");
.sorryText {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: #455963;
    .viewLine {
        width: 100%;
        height: 1px;
        opacity: 0.2;
        background-color: #111;
    }
}
.viewWrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    .viewHeader {
        display: grid;
        grid-template-columns: 35px 300px 50px 80px 35px ;
        grid-template-rows: 30px;
        justify-content: center;
        justify-items: center;
        .gridStatus {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .gridTitle {
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .gridPriority {
            grid-column: 3/4;
            grid-row: 1/2;
        }
        .gridDate {
            grid-column: 4/5;
            grid-row: 1/2;
        }
        .gridDelete {
            grid-column: 5/6;
            grid-row: 1/2;
        }
    }
    .vievList {
        
    }
}
